.navbar {

    position: absolute;
    top: 0;

    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 60px;

    padding: 12px;

    background-color: #1E9EE0;
}

.navbar > :not(:last-child),
.nav-links > :not(:last-child) {

    margin-right: 12px;
}

.nav-container {

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 550px) {

    .nav-container {
        width: 100%;
        max-width: 575px;
    }
}

.logo {

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    
    font-size: 24px;
    font-weight: 400;
    color: white;
}

.logo > :not(:last-child) {

    margin-right: 12px;
}

a {

    text-decoration: none;
    color: white;
    font-weight: 400;
}

a:hover {

    color: black;
}
