@import '~antd/dist/antd.css';


.App,
.input-area {

    width: 100%;
}

.App {

    position: relative;

    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-bottom: 48px;
}

@media screen and (min-width: 550px) {

    .App {
        width: 70%;
        max-width: 575px;
    }
}
