@import '~antd/dist/antd.css';


.App,
.input-area,
.content {

    width: 100%;
}

.App {

    position: relative;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin-bottom: 48px;
}

.content {

    display: flex;
    flex: 1 1 auto;
    margin-top: 60px;
}

@media screen and (min-width: 550px) {

    .content {
        width: 70%;
        max-width: 575px;
    }
}
