@import '~antd/dist/antd.css';


.App,
.input-area {

    width: 100%;
}

.App {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin: 24px 0 48px 0;
}

@media screen and (min-width: 550px) {

    .App {
        width: 70%;
        max-width: 575px;
    }
}
